
/*@font-face {
    src: url("Ailerons/Ailerons-Regular.otf") format("opentype");
    font-family: ailerons;
}*/

/*#2172ff*/


body {
/*	padding-top: 70px;*/
/*	background: url('media/stripe.png') center no-repeat;
	background-repeat: no-repeat;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	/*background-color: yellow;*/

}

#landing{
	display:flex;
	align-items:center;
	justify-content:center;
	width: 90%;
	height: 100vh;
	margin: auto;
	max-width: 600px;


	/*background-color: gray;*/
}

#landing img {
   	width: 90%;
    border-radius: 50%;
    object-fit: cover;
}

#landing div {
	position: absolute;
  	display:block;
	align-items:center;
	justify-content:center;
	margin: auto;
  	width: 72vw;
  	/*background-color: black;*/
}

#landing h1 {
	color: #ff3535;
	letter-spacing: 0.2em;
	letter-spacing: 0.2em;
	font-weight: bold;
	font-size: 7vw;
	text-shadow: 0.4vw 0.4vw black;
}

#landing h3 {
	text-align: right;
}

h3 {
	color: #ff3535;
	letter-spacing: 0.2em;
	letter-spacing: 0.2em;
	font-weight: bold;
	font-size: 3vw;
	text-align: right;
	text-shadow: 0.15vw 0.15vw black;
}

nav img {
	height: 60px;
}

.mr-auto, .mx-auto {
	/*background: gray;*/
	position: absolute;
	text-align: center;

}

.bg-light {
    background-color: white!important;
}


nav li {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding-left: 30px;
	letter-spacing: 0.2em;
	font-weight: bold;
	color: #424242;
	font-size: 20px;
}

nav li a{
	color: #424242;
}

.right-left-sec {
	margin-top: 50px;
}

.right-left-sec  h2 {
	color: black;
	letter-spacing: 0.2em;
	letter-spacing: 0.2em;
	font-weight: bold;
	font-size: 7vw;
	text-shadow: 0.4vw 0.4vw #ff3535;
}

.right-content{
	margin-top: 30px;
	width: 60%;
	float: right;
	min-width: 400px;
}




