
@font-face {
    src: url("Ailerons/Ailerons-Regular.otf") format("opentype");
    font-family: ailerons;
}

body {
	padding-top: 70px;
	background: white;
	/*background-color: yellow;*/
	background: url("media/test.jpg");

}

#landing{
	display:flex;
	align-items:center;
	justify-content:center;
	width: 95%;
	height: 100vh;
	margin: auto;
	max-width: 600px;
	font-family: 'Roboto', sans-serif;

	/*background-color: gray;*/
}

#landing video {
   	width: 90%;
    border-radius: 50%;
    object-fit: cover;
}

#landing div {
	position: absolute;
  	display:block;
	align-items:center;
	justify-content:center;
	margin: auto;
  	color: #ff3535;
  	/*background-color: black;*/
}

#landing h1 {
	font-family: 'ailerons';
	font-size: 8vw;
}

#landing h2 {
	font-family: 'ailerons';
	font-size: 3vw;
}

nav img {
	height: 60px;
}

.mr-auto, .mx-auto {
	background: gray;
	position: absolute;
	text-align: center;

}



