body {
	/*padding-top: 70px;*/
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-size: 18px;
}

#home, #about {
	height: 100vh;
}

#home h1 {
	display: none;
}

.navbar {
	display: none;
}

h1 {
	font-weight: bolder;
	font-size: 50px;
}

.period {
	color: red;
}


.bg-light{
	background-color: transparent!important;
}

nav li {
	padding-left: 30px;
}

nav img {
	height: 70px;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

.nav-link {
	color: white!important;
}


#main-home-row {
	height: 100vh;
}

#home-img {
	/*background-image: url('https://media.giphy.com/media/3osBLAr1hKoKS3Fj0c/giphy.gif');*/
	background-image: url('https://media.giphy.com/media/l3vQZDJwBaojhMXbW/giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
}

#home-text-container {
	width: 136.27px;
	max-width: 136.27px;
	min-width: 136.27px;
}

#home p {
	display: none;
	transform: rotate(270deg);
}

#home-subtext-row {
	width:200px;
}

.text {
	background: url('http://2.bp.blogspot.com/-uUGqU7J189w/T1qac0GdmWI/AAAAAAAAC6I/AJR8J1HZsi4/s1600/DOT%20GRID%20Gray.jpg');
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 10px;
	padding-right: 20%;
	margin-top: 30px;
	width: 80%;
}

.text p {
	border-left: solid red 5px;
	padding-left: 20px;
}




