body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-size: 18px;
}

.scroll {
	scroll-behavior: smooth;
	height: 100vh;
	width: 100vw;
	scroll-snap-type: y proximity;
	overflow: scroll;
	margin-top: 0;
	padding-top: 0;
}

.section {
	height: 100vh;
	overflow: hidden;
	margin-top: 70px;
	scroll-snap-align: start;
}

#home, #projects {
	margin-top: 0;
}

#home h1 {
	display: none;
}

.navbar {
	display: none;
}

h1 {
	font-weight: bolder;
	font-size: 50px;
}

.period {
	color: #ff4f4f;
}


.bg-light{
	background-color: transparent!important;
	padding-top: 0;
	padding-bottom: 0;
}



nav li {
	padding-left: 30px;
}

nav img {
	height: 70px;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

.nav-link {
	color: white!important;
}


.main-row {
	height: 100vh;
}

#home-img {
	/*background-image: url('https://media.giphy.com/media/3osBLAr1hKoKS3Fj0c/giphy.gif');*/
	background-image: url('https://media.giphy.com/media/l3vQZDJwBaojhMXbW/giphy.gif');
	background-repeat: no-repeat;
	background-size: cover;
}

#home-text-container {
	width: 136.27px;
	max-width: 136.27px;
	min-width: 136.27px;
}

#home p {
	display: none;
	transform: rotate(270deg);
}

#home-subtext-row {
	width:200px;
}

.text {
	background: url('http://2.bp.blogspot.com/-uUGqU7J189w/T1qac0GdmWI/AAAAAAAAC6I/AJR8J1HZsi4/s1600/DOT%20GRID%20Gray.jpg');
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 10px;
	padding-right: 20%;
	margin-top: 30px;
	width: 80%;
}

.text p {
	border-left: solid #ff4f4f 5px;
	padding-left: 20px;
	display: none;
}

.img-container {
	overflow: hidden;
}

.img-container img {
	transition: transform .2s ease;
	width: 100%;

}

.section img {
	width: 100%;

}

.img-container img:hover {
	transform: scale(1.5);
}

a {
	color: black;
}

a:hover {
	color: #ff4f4f;
	text-decoration: none;
}

a:active {
	color: #ff7070;
	text-decoration: none;
}




.img-container {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


.inverse-nav-link {
	color: black!important;
}

#projects-img {
	/*background-image: url('https://media.giphy.com/media/OZe6HpM5eZow8/giphy.gif');*/
	background-repeat: no-repeat;
	background-size: fill;
	background-position: center;
	background-image: url('https://media.giphy.com/media/5ONgfB7NTmwrm/giphy.gif');
}

#projects p {
	line-height: 10px;
}

footer {
	background-color: black;
	color: white;
	font-size: 12px;
	padding-top: 10px;
	scroll-snap-align: start;
}

footer p:first-of-type{
	color: gray;
}

#contact a {
	margin-right: 20px;
	font-size: 30px;
}


#test {
	width: 60vw;
	height: 15px;
	position: fixed;
	background-color: red;
	z-index: 3;
}

.loadingDiv {
	height: 100vh;
	width: 100vw;
	background-color: pink;
	display: none;
	z-index: 1000;
}

#projects-header {
	display: none;
}






