body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	font-size: 18px;
	color: #3d3d3d;
}

.scroll {
	scroll-behavior: smooth;
	height: 100vh;
	width: 100vw;
	scroll-snap-type: y proximity;
	overflow: scroll;
	margin-top: 0;
	padding-top: 0;
}

.section {
	height: 100vh;
	overflow: hidden;
	margin-top: 70px;
	scroll-snap-align: start;
}

#home, #projects {
	margin-top: 0;
}

#home h1 {
	display: none;
	font-size: 80px;
}

.navbar {
	display: none;
}

h1 {
	font-weight: bolder;
	font-size: 50px;
}

.period {
	color: #ff4f4f;
}


.bg-light{
	background-color: transparent!important;
	padding-top: 0;
	padding-bottom: 0;
}



nav li {
	padding-left: 30px;
}

nav img {
	height: 70px;
}

.navbar-light .navbar-toggler {
    background-color: white;
}

.nav-link {
	color: #3d3d3d!important;
}


.main-row {
	height: 90vh;
}


#home a {
	font-size: 40px;
	display: none;
}


#home p {
	display: none;
	transform: rotate(270deg);
	letter-spacing: 6px;
}

.text {
	background: url('http://2.bp.blogspot.com/-uUGqU7J189w/T1qac0GdmWI/AAAAAAAAC6I/AJR8J1HZsi4/s1600/DOT%20GRID%20Gray.jpg');
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 10px;
	padding-right: 20%;
	margin-top: 30px;
	width: 80%;
}

.text p {
	border-left: solid #ff4f4f 5px;
	padding-left: 20px;
	display: none;
}

.img-container {
	overflow: hidden;
}

.img-container img {
	transition: transform .2s ease;
	width: 100%;

}

.section img {
	width: 100%;

}

#about img {
	width: 80%;

}

.img-container img:hover {
	transform: scale(1.5);
}

a {
	color: #3d3d3d;
}

a:hover {
	color: #ff4f4f;
	text-decoration: none;
}

a:active {
	color: #ff0000
	text-decoration: none;
}




.img-container {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}


.inverse-nav-link {
	color: white!important;
}

#projects-img {
	/*background-image: url('https://media.giphy.com/media/OZe6HpM5eZow8/giphy.gif');*/
	background-repeat: no-repeat;
	background-size: cover;
	/*background-image: url('https://media.giphy.com/media/3oz8xsida8RYQhj6a4/giphy.gif');*/
	/*background-image: url('https://media.giphy.com/media/1oDwUiHR5xshx5nvCJ/giphy.gif');*/
	/*https://media.giphy.com/media/l0MYHQcR9gcM7JYBi/giphy.gif*/
	/*background-image: url('https://media.giphy.com/media/6P0BnGWIDxu0w/giphy.gif');*/
}

#projects p {
	line-height: 10px;
}

footer {
	background-color: #3d3d3d;
	color: gray;
	font-size: 12px;
	padding-top: 10px;
	scroll-snap-align: start;
}

#projects-header {
	display: none;
}

#projects {
	background-color: #3d3d3d;
	color: white;
}

#contact {
	background-color: #3d3d3d;
	color: white;
}

#contact-header {
	max-width: 350px;
}

#contact a {
	color:  white;
	font-size: 1.7em;
	line-height: 2em;
	letter-spacing: 0.3em;
}

#contact a:hover {
	color: #ff4f4f;
}

#contact a:active {
	color: #ff0000;
}

.page {
	height: 100vh;
	z-index: 1000;
	background-color: white;
	position: fixed;
	top: 0%;
	overflow: scroll;
	display: none;
	padding-top: 80px
}

.back-btn {
	padding: 25px 30px;
	border-radius: 50%;
	font-size: 1.5em;
	color: white;
	background-color: #ff4f4f;
	opacity: 0.7;
	position: absolute;
	top: 80%;
	right: 5%;
}

.back-btn:hover {
	opacity: 1;
	color: white;
}

.back-btn:active {
	background-color: #ff0000;
	opacity: 1;
	color: white;
}







